@use "variables" as v;
@import "~tailwindcss/dist/tailwind.min.css";

$colors: (
  primary: #{v.$primary},
  secondary: #{v.$secondary},
  accent: #{v.$accent}
);

:root {
  @each $key, $color in $colors {
    --#{$key}: #{$color};
  }
}

@each $key, $color in $colors {
  .color-#{$key} {
    color: var(--#{$key});
  }
}

